<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cyborg/bootstrap.min.css"
      integrity="sha384-nEnU7Ae+3lD52AK+RGNzgieBWMnEfgTbRHIwEvp1XXPdqdO6uLTd/NwXbzboqjc2"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@icon/unicons@2.1.9-alpha.0/unicons.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment/min/moment.min.js"></script>
    <style type="text/css">
      .badge-pill {
        margin-left: 1px;
        margin-right: 1px;
      }
      .ellipsis {
        text-overflow: ellipsis;
        overflow: hidden;
        height: 1em;
        white-space: nowrap;
        word-break: break-all;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <h2>Projets ({{projects.length }}) :</h2>
      <div>
        <a
          v-for="project in projects"
          :href="project.http_url_to_repo"
          :title="project.name_with_namespace"
          target="_blank"
          class="badge badge-pill badge-light"
        >
          {{ project.name}} ({{project.id}})
        </a>
      </div>
      <div v-if="projects.length">
        <h2>Commits ({{commits.length}}): {{ loading ? '...' : '' }}</h2>
        <h3>Filters</h3>
        <div>
          Search in messages :
          <input
            v-model="search"
            placeholder="Rechercher dans les messages"
          /><br />
          <input type="checkbox" id="checkbox" v-model="searchAll" /> Search all
          <input type="checkbox" id="checkbox2" v-model="allCommits" /> All
          commits<br />
          <button class="btn btn-secondary" v-on:click="refresh()">
            <i class="uil uil-refresh"></i>
          </button>
          <button class="btn btn-primary" v-on:click="checkMergeRequest()">
            <i class="uil uil-eye"></i>
            Find MRs
          </button>
          <button class="btn btn-secondary" v-on:click="checkRefs()">
            <i class="uil uil-code-branch"></i>
            Find commits refs
          </button>
          <button class="btn btn-secondary" v-on:click="cleanNoRefs()">
            <i class="uil uil-filter"></i>
            Clean commits without ref
          </button>
        </div>
        <div v-if="reposWithoutMR">
          Repos without MR :
          <a
            v-for="repoWithoutMR in reposWithoutMR"
            :href="repoWithoutMR.MrUrl"
            target="_blank"
          >
            {{ repoWithoutMR.name }}
          </a>
          <span v-if="reposWithoutMR.length === 0"> None </span>
        </div>
        <table>
          <tr
            v-for="commit in commits"
            :class="{ 'font-weight-bold': commit.project.name.includes('api') || commit.project.name.includes('backoffice') }"
          >
            <td :title="commit.project.name_with_namespace">
              <a :href="commit.project.http_url_to_repo" target="_blank">
                {{ commit.project.name }}
              </a>
            </td>
            <td>{{ commit.short_id }}</td>
            <td :title="commit.authored_date">
              {{ commit.authored_date_formatted }}
            </td>
            <td :title="commit.title" class="ellipsis" style="max-width: 300px">
              <a :href="commit.web_url" target="_blank"> {{ commit.title }} </a>
            </td>
            <td
              :title="commit.committer_name"
              class="ellipsis"
              style="max-width: 100px"
            >
              {{ commit.committer_name }}
            </td>
            <td class="ellipsis" style="max-width: 150px">
              <a
                v-for="mr in commit.mergeRequests"
                :href="mr.web_url"
                :class="{ 'text-secondary': mr.state === 'merged', 'text-warning': mr.work_in_progress, 'text-danger': mr.merge_status === 'cannot_be_merged' }"
                :title="`${mr.merge_status} ${mr.iid} ${mr.title}`"
              >
                {{mr.iid}} <i v-if="!mr.blocking_discussions_resolved" class="uil uil-comment-alt-exclamation"></i> {{mr.title}}
              </a>
            </td>
            <td class="ellipsis" style="max-width: 200px" :title="commit.refs && commit.refs.map((r) => r.name).join(', ')">
              <div
                v-for="ref in commit.refs"
                class="badge badge-pill"
                :class="{ 'badge-danger': ref.type === 'tag', 'badge-success': ref.name === 'develop', 'badge-warning': ref.name === 'master', 'badge-primary': ref.type === 'branch'}"
              >
                {{ref.name}}
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <script>
      const urlSearchParams = new URLSearchParams(window.location.search);
      const gitLabApiUrl = urlSearchParams.get("gitLabApiUrl");
      const gitLabToken = urlSearchParams.get("gitLabToken");
      const gitLabClient = axios.create({
        baseURL: gitLabApiUrl,
        headers: {
          "PRIVATE-TOKEN": gitLabToken,
        },
        method: "get",
      });
      const group = urlSearchParams.get("group");
      document.title = `${group} commits ${
        urlSearchParams.get("search")
          ? " for " + urlSearchParams.get("search")
          : ""
      }`;

      async function getProjectCommitsOnePage(projectId, page, search, all) {
        const allCommits = (
          await gitLabClient.get(
            `/projects/${projectId}/repository/commits?per_page=100&page=${page}&${
              all ? "all=true" : ""
            }`
          )
        ).data;

        return {
          page: allCommits.filter((commit) => {
            return commit.message.match(new RegExp(search));
          }),
          isEnd: allCommits.length === 0,
        };
      }

      async function refresh() {
        this.loading = true;
        // Construct URLSearchParams object instance from current URL querystring.
        const queryParams = new URLSearchParams(window.location.search);
        queryParams.set("search", this.search);
        history.replaceState(null, null, "?" + queryParams.toString());

        this.commits = [];
        this.reposWithoutMR = [];
        for (const project of this.projects) {
          let projectCommits = [];
          if (this.searchAll && this.search) {
            let page = 1;
            let res = { isEnd: false, page: [] };
            do {
              res = await getProjectCommitsOnePage(
                project.id,
                page,
                this.search,
                this.allCommits
              );
              projectCommits.push(...res.page);
              page++;
            } while (!res.isEnd);
          } else {
            projectCommits = (
              await getProjectCommitsOnePage(
                project.id,
                1,
                this.search,
                this.allCommits
              )
            ).page;
          }
          for (const projectCommit of projectCommits) {
            projectCommit.project = project;
            projectCommit.authored_date_formatted = moment(
              projectCommit.authored_date
            ).format("DD/MM HH:mm");
          }
          this.commits.push(...projectCommits);
          this.commits.sort((commit1, commit2) => {
            return commit1.authored_date > commit2.authored_date ? -1 : 1;
          });
        }
        this.loading = false;
      }

      const app = new Vue({
        el: "#app",
        data() {
          return {
            search: urlSearchParams.get("search"),
            searchAll: false,
            allCommits: true,
            projects: [],
            commits: [],
            loading: false,
            reposWithoutMR: null,
          };
        },
        methods: {
          refresh,
          async checkMergeRequest() {
            if (this.commits.length < 300) {
              this.loading = true;
              let gitLabHost;

              for (const commit of this.commits) {
                const mergeRequests = (
                  await gitLabClient.get(
                    `projects/${commit.project.id}/repository/commits/${commit.id}/merge_requests`
                  )
                ).data;
                commit.mergeRequests = mergeRequests;
              }

              const repos = {};
              for (const commit of this.commits) {
                if (commit.mergeRequests.length === 0) {
                  const commitWithMR = this.commits.find(
                    (commit1) =>
                      commit1.project.name === commit.project.name &&
                      commit1.mergeRequests.length !== 0
                  );
                  if (!commitWithMR) {
                    repos[commit.project.name] = 0;
                  }
                }

                if (!gitLabHost) {
                  const url = new URL(commit.web_url);
                  gitLabHost = `${url.protocol}//${url.host}`;
                }
              }
              console.log(`repos`, repos);
              this.reposWithoutMR = Object.keys(repos).map((repoName) => ({
                name: repoName,
                MrUrl: [
                  gitLabHost,
                  group,
                  repoName,
                  "-/merge_requests/new?merge_request%5Bsource_branch%5D=" +
                    this.search,
                ].join("/"),
              }));
              this.loading = false;
            } else {
              alert("Trop de commits à checker");
            }
          },
          async checkRefs() {
            if (this.commits.length < 300) {
              this.loading = true;

              for (const commit of this.commits) {
                const refs = (
                  await gitLabClient.get(
                    `projects/${commit.project.id}/repository/commits/${commit.id}/refs?per_page=100`
                  )
                ).data;
                commit.refs = refs;
              }

              this.loading = false;
            } else {
              alert("Trop de commits à checker");
            }
          },
          async cleanNoRefs() {
            if (this.commits.length < 300) {
              this.loading = true;

              // ensure refs
              for (const commit of this.commits) {
                commit.refs =
                  commit.refs ||
                  (
                    await gitLabClient.get(
                      `projects/${commit.project.id}/repository/commits/${commit.id}/refs`
                    )
                  ).data;
              }
              // clean
              this.commits = this.commits.filter(
                (commit) => commit.refs.length > 0
              );

              this.loading = false;
            } else {
              alert("Trop de commits à checker");
            }
          },
        },
        async mounted() {
          this.projects = (
            await gitLabClient.get(
              `groups/${group}/projects?order_by=last_activity_at&include_subgroups=true`
            )
          ).data;
          await refresh.call(this);
        },
      });
    </script>
  </body>
</html>
